.container {
  top: 25px;
}
#headerStill {
  position: fixed;
  transition: 1s;
}
.smallHeader {
  background-color: #295a85;
  padding: 0px;
  transition: 1s;
  box-shadow: 1px 2px 5px;
}
.logoSmall {
  width: 40px;
  height: 40px;
  padding: 7px;
  transition: 1s;
}
.withus {
  background-color: #2792f1;
  color: white;
  border: none;
  padding: 0.8em;
  border-radius: 0.5em;
}
.withus:hover {
  color: aquamarine;
}

.frontText {
  display: -webkit-box;
  line-height: 1.8em;
  max-height: 180px;
  padding: 30px;
  /* text-align: justify; */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: max-height 0.8s ease-in-out;
  border-radius: 10px;

  /* letter-spacing: 0.1em; */
}
.frontText:hover {
  overflow: visible;
  max-height: 400px;
  -webkit-line-clamp: 20;
  line-clamp: 20;
  background-color: #7cb8eb;
  color: white;
}
.moreAbout {
  margin: 2.5em 0;
  /* line-height: em; */
}
.footerMore {
  background-color: #1f598c;
}
.services-info p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  cursor: pointer;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em;
  line-height: 1.5em;
  transition: max-height 0.8s ease-in-out;
}
.services-info p:hover {
  overflow: visible;
  -webkit-line-clamp: 20;
  line-clamp: 20;
  padding: 10px;
  background-color: #3d9ff5;
  color: aliceblue;
  max-height: 300px;
  border-radius: 0 0 10px 10px;
}
.trustCompanies {
  display: flex;
  align-items: center;
}
.trustCompanies:hover {
  animation-play-state: paused;
}
.sliderImage {
  margin-left: 15px;
}
.slideText {
  background-color: #2d80c8;
  color: white;
  padding: 20px;
  margin: -10px;
  border-radius: 0 0 10px 10px;
}
.slideBody {
  display: flex;
  flex-direction: column;
  border-radius: 10px !important;
  background-color: #80b3df;
}

.ms-2 {
  margin-left: -5px !important;
}
.webcaption {
  /* color: aliceblue; */
  font-size: 1.2em;
  max-width: 500px;
  margin: 40px auto;
  background-color: #80b3df86;
  padding: 25px 35px;
  border-radius: 20px;
  line-height: 40px;
  box-shadow: 2px 4px 4px #1e1e63;
}
.webcaption::first-letter {
  color: #871924;
  font-size: 2em;
}
.smallCaption {
  font-size: 9px;
}
.cd-words-wrapper b {
  color: #b7f447 !important;
}
.servicBtn {
  color: #b7f447;
}

/* .moving {
  padding: 1px;
  background-color: #4f83d1;
  color: white;
  word-spacing: 15px;
  letter-spacing: 8px;
  border-radius: 20px;
  margin: 30px -10px 0px;
}
.flash {
  position: absolute;
  bottom: -20px;
} */
.cd-words-wrapper {
  font-size: 2em;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.newBtn {
  box-shadow: 2px 2px 2px #2b2b6a;
}

@media (max-width: 990px) {
  .navbar {
    top: 0;
    background-color: #d1e8fa;
  }
}
@media (max-width: 500px) {
  .site-header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .smallText {
    font-size: 0.7em !important;
    padding: 0px;
  }
  .navbar-toggler {
    width: 20px;
  }
  .cd-words-wrapper {
    font-size: 1.2em;
  }
  .newBtn {
    padding: 5px 10px;
    box-shadow: 2px 4px 4px #1e1e63;
  }
  .footerLogo {
    padding: 5px;
  }
  .footerItemMobile {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .bookAppointment {
    display: none;
  }
  .webcaption {
    font-size: 0.9em;
    line-height: 28px;
    margin: 70px 15px;
  }
}
@media (max-width: 400px) {
  .ms-2 {
    /* font-size: 1em;
    margin-left: 0 !important; */
    display: none;
  }
  .logo {
    padding: 5px;
    width: 50px;
    height: 50px;
  }
  .container {
    padding-right: 0.3rem;
    padding-left: 0.3rem;
  }
}
.teamAll {
  display: flex;
}
.teamInfo {
  background-color: #80b3df;
  width: 50%;
  margin: 10%;
  border-radius: 20px;
}
.teamImage {
  width: 100%;
  border-radius: 20px;
}
.teamText {
  padding: 20px;
}
